/* Contenitore risultato */
#results-container {
  display: none;
  text-align: center;
  padding-block: 1.5rem;
}

/* wrapper chart + risultati */
#center-page {
  margin-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#center-page > div {
  margin: 1.5rem;
}

#correct-answers h4,
#wrong-answers h4 {
  margin-bottom: 0.2rem;
}

#correct-answers {
  text-align: start;
}
#center-page #correct-answers,
#center-page #wrong-answers {
  margin-bottom: 100px;
}

#wrong-answers {
  text-align: end;
}

#correct-answers p,
#wrong-answers p {
  opacity: 0.8;
  font-weight: 300;
}

/* Chart */

#chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

/* Inner chart text */
#center-text {
  position: relative;
  top: -200px;
  width: 60%;
}

#center-text {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

#center-text > p:first-child {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Testo azzurro */
.blueSpan {
  display: block;
  color: #00ffff;
  font-size: 0.9rem;
}

.small-text {
  font-size: 0.7rem;
  font-weight: 400;
  opacity: 0.7;
  line-height: 1.3;
}

#failed {
  color: #c1158b;
  font-size: 0.9rem;
  margin-block: 0.5rem;
}

.result-btn:hover {
  background-color: #00ffff;
  color: #0b113b;
  border: none;
  box-shadow: 1px 1px 25px #00ffff;
  font-weight: 900;
}

.result-btn {
  margin-top: -10rem;
  z-index: 1;
}
